<h1>Detalhes deste aparelho</h1>
<p>Numero: <%= @aparelho.numero %></p>
<p>Operadora: <%= @aparelho.operadora.capitalize %></p>
<% if @aparelho.status == true %>
  <p>Este aparelho <strong>está ativo</strong></p>
<% else %>
  <p>Este aparelho <strong>não está ativo</strong></p>
  <p><%= link_to  "Deseja ativar?", edit_aparelho_path(@aparelho), class: "btn btn-warning" %></p>
<% end %>

<div class="show-links d-flex justify-content-between">
  <div class="action-links">
    <%= link_to  "Voltar", aparelhos_path, class: "btn btn-gradient"%>
    <%= link_to  "Novo aparelho", new_aparelho_path, class: "btn btn-dark" %>
  </div>
  <div class="delete-link">
    <%= link_to  "Excluir", aparelho_path(@aparelho), method: :delete, class: "btn btn-danger" %>
  </div>
</div>